= render 'layouts/navbar', title: 'Icons'
.content
  .container-fluid
    .container-fluid
      .card.card-plain
        .card-header.card-header-primary
          %h4.card-title Material Design Icons
          %p.card-category
            Handcrafted by our friends from
            %a{:href => "https://design.google.com/icons/", :target => "_blank"} Google
        .row
          .col-md-12
            .card-body
              .iframe-container.d-none.d-lg-block
                %iframe{:src => "https://design.google.com/icons/"}
                  %p Your browser does not support iframes.
              .col-md-12.d-none.d-sm-block.d-md-block.d-lg-none.d-block.d-sm-none.text-center.ml-auto.mr-auto
                %h5
                  The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                  %a{:href => "https://design.google.com/icons/", :target => "_blank"} Material Icons
