= render 'layouts/navbar', title: 'Table'
.content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-header.card-header-primary
            %h4.card-title Simple Table
            %p.card-category Here is a subtitle for this table
          .card-body
            .table-responsive
              %table.table
                %thead.text-primary
                  %th
                    ID
                  %th
                    Name
                  %th
                    Country
                  %th
                    City
                  %th
                    Salary
                %tbody
                  %tr
                    %td
                      1
                    %td
                      Dakota Rice
                    %td
                      Niger
                    %td
                      Oud-Turnhout
                    %td.text-primary
                      $36,738
                  %tr
                    %td
                      2
                    %td
                      Minerva Hooper
                    %td
                      Curaçao
                    %td
                      Sinaai-Waas
                    %td.text-primary
                      $23,789
                  %tr
                    %td
                      3
                    %td
                      Sage Rodriguez
                    %td
                      Netherlands
                    %td
                      Baileux
                    %td.text-primary
                      $56,142
                  %tr
                    %td
                      4
                    %td
                      Philip Chaney
                    %td
                      Korea, South
                    %td
                      Overland Park
                    %td.text-primary
                      $38,735
                  %tr
                    %td
                      5
                    %td
                      Doris Greene
                    %td
                      Malawi
                    %td
                      Feldkirchen in Kärnten
                    %td.text-primary
                      $63,542
                  %tr
                    %td
                      6
                    %td
                      Mason Porter
                    %td
                      Chile
                    %td
                      Gloucester
                    %td.text-primary
                      $78,615
      .col-md-12
        .card.card-plain
          .card-header.card-header-primary
            %h4.card-title.mt-0 Table on Plain Background
            %p.card-category Here is a subtitle for this table
          .card-body
            .table-responsive
              %table.table.table-hover
                %thead
                  %th
                    ID
                  %th
                    Name
                  %th
                    Country
                  %th
                    City
                  %th
                    Salary
                %tbody
                  %tr
                    %td
                      1
                    %td
                      Dakota Rice
                    %td
                      Niger
                    %td
                      Oud-Turnhout
                    %td
                      $36,738
                  %tr
                    %td
                      2
                    %td
                      Minerva Hooper
                    %td
                      Curaçao
                    %td
                      Sinaai-Waas
                    %td
                      $23,789
                  %tr
                    %td
                      3
                    %td
                      Sage Rodriguez
                    %td
                      Netherlands
                    %td
                      Baileux
                    %td
                      $56,142
                  %tr
                    %td
                      4
                    %td
                      Philip Chaney
                    %td
                      Korea, South
                    %td
                      Overland Park
                    %td
                      $38,735
                  %tr
                    %td
                      5
                    %td
                      Doris Greene
                    %td
                      Malawi
                    %td
                      Feldkirchen in Kärnten
                    %td
                      $63,542
                  %tr
                    %td
                      6
                    %td
                      Mason Porter
                    %td
                      Chile
                    %td
                      Gloucester
                    %td
                      $78,615
