= render 'layouts/navbar', title: 'Typography'
.content
  .container-fluid
    .card
      .card-header.card-header-primary
        %h4.card-title Material Dashboard Heading
        %p.card-category Created using Roboto Font Family
      .card-body
        #typography
          .card-title
            %h2 Typography
          .row
            .tim-typo
              %h1
                %span.tim-note> Header 1
                The Life of Material Dashboard
            .tim-typo
              %h2
                %span.tim-note> Header 2
                The Life of Material Dashboard
            .tim-typo
              %h3
                %span.tim-note> Header 3
                The Life of Material Dashboard
            .tim-typo
              %h4
                %span.tim-note> Header 4
                The Life of Material Dashboard
            .tim-typo
              %h5
                %span.tim-note> Header 5
                The Life of Material Dashboard
            .tim-typo
              %h6
                %span.tim-note> Header 6
                The Life of Material Dashboard
            .tim-typo
              %p
                %span.tim-note Paragraph
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
            .tim-typo
              %span.tim-note Quote
              %blockquote.blockquote
                %p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                %footer.blockquote-footer
                  Someone famous in
                  %cite{:title => "Source Title"} Source Title

              %blockquote.blockquote
                %p
                  I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                %small
                  Kanye West, Musician
            .tim-typo
              %span.tim-note Muted Text
              %p.text-muted
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Primary Text
              %p.text-primary
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Info Text
              %p.text-info
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Success Text
              %p.text-success
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Warning Text
              %p.text-warning
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %span.tim-note Danger Text
              %p.text-danger
                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
            .tim-typo
              %h2
                %span.tim-note Small Tag
                Header with small subtitle
                %br/
                %small Use "small" tag for the headers
