.sidebar{"data-background-color" => "white", "data-color" => "purple", "data-image": asset_pack_path('media/images/sidebar-1.jpg')}
  /
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  .logo
    %a.simple-text.logo-normal{:href => "/"}
      Creative Tim
  .sidebar-wrapper
    %ul.nav
      %li.nav-item{class: active_sidebar(controller: 'home', action: 'index')}
        %a.nav-link{:href => "/"}
          %i.material-icons dashboard
          %p Dashboard
      %li.nav-item{class: active_sidebar(controller: 'home', action: 'user_profile')}
        %a.nav-link{:href => "/user_profile"}
          %i.material-icons person
          %p User Profile
      %li.nav-item{class: active_sidebar(controller: 'home', action: 'table_list')}
        %a.nav-link{:href => "/table_list"}
          %i.material-icons content_paste
          %p Table List
      %li.nav-item{class: active_sidebar(controller: 'home', action: 'typography')}
        %a.nav-link{:href => "/typography"}
          %i.material-icons library_books
          %p Typography
      %li.nav-item{class: active_sidebar(controller: 'home', action: 'icons')}
        %a.nav-link{:href => "/icons"}
          %i.material-icons bubble_chart
          %p Icons
      %li.nav-item{class: active_sidebar(controller: 'home', action: 'user_lign')}
        %a.nav-link{:href => "/user_login"}
          %i.material-icons perm_identity
          %p Login
      %li.nav-item
        %a.nav-link{:href => "javascript:;"}
          %i.material-icons location_ons
          %p Maps
      %li.nav-item{class: active_sidebar(controller: 'home', action: 'notification')}
        %a.nav-link{:href => "/notification"}
          %i.material-icons notifications
          %p Notifications
      %li.nav-item
        = link_to 'http://demos.creative-tim.com/material-dashboard/docs/2.0/getting-started/introduction.html', class: 'nav-link' do
          %i.material-icons book
          %p Documentation
